<h2>Корзина</h2>
<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Сумма</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
            <td>
               <form action="{% url 'remove_one_from_cart' item.product.id %}" method="post" style="display: inline;">

                    {% csrf_token %}
                    <button type="submit">-</button>
                </form>
                <form action="{% url 'remove_from_cart' item.product.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Удалить</button>
                </form>
                <form method="post">
                    {% csrf_token %}
                    <label for="id_user_name">Имя:</label>
                    {{ form.user_name }}
                    <label for="id_phone">Телефон:</label>
                    {{ form.phone }}
                    <label for="id_address">Адрес:</label>
                    {{ form.address }}
                    <button type="submit">Оформить заказ</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Итого:</td>
            <td>{{ total_price }}</td>
            <td></td>
        </tr>
    </tfoot>
</table>

